<!DOCTYPE html>
<html lang="br">

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<title>Árvore B</title>

</head>

<body ng-app="myapp" ng-controller="myCtrl">

	<div class="form-inline">
		<div class="form-group mx-sm-3 mb-2">
			<input type="text" ng-model="order" class="form-control" placeholder="ordem">
		</div>
		<button ng-click="setOrder(order)" class="btn btn-primary mb-2">Ordem</button>

		<div class="form-group mx-sm-3 mb-2">
			<input type="text" ng-model="valorInsert" class="form-control" placeholder="inserir">
		</div>
		<button ng-click="insert(valorInsert)" class="btn btn-primary mb-2">Inserir</button>

		<div class="form-group mx-sm-3 mb-2">
			<input type="text" ng-model="valorRemove" class="form-control" placeholder="remover">
		</div>
		<button ng-click="remove(valorRemove)" class="btn btn-primary mb-2">Remover</button>

		<div class="form-group mx-sm-3 mb-2">
			<input type="text" ng-model="valorSearch" class="form-control" placeholder="buscar">
		</div>
		<button ng-click="search(valorSearch)" class="btn btn-primary mb-2">Buscar</button>
	</div>

	<div class="svg"></div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
	<script scr="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
	<!-- load the d3.js library -->
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="b-tree.js"></script>
	<script>
		var root;
		var app = angular.module('myapp', []);
		app.controller('myCtrl', function ($scope) {


			var btree;
			$scope.setOrder = function (valor) {
				btree = new BTreeNode();
				NKEYS = valor;
			}

btree = new BTreeNode();
NKEYS = 3;
btree = insert(btree, 8);
btree = insert(btree, 6);
btree = insert(btree, 1);
btree = insert(btree, 2);
btree = insert(btree, 3);
btree = insert(btree, 4);
btree = insert(btree, 13);
btree = insert(btree, 10);
btree = insert(btree, 7);
btree = insert(btree, 9);
btree = insert(btree, 11);
btree = insert(btree, 12);
btree = insert(btree, 14);
btree = insert(btree, 15);
btree = insert(btree, 16);
btree = insert(btree, 17);
btree = insert(btree, 18);
btree = insert(btree, 19);
btree = insert(btree, 20);
btree = insert(btree, 21);
btree = insert(btree, -1);
// btree = insert(btree, -2);
// btree = insert(btree, 24);
// btree = insert(btree, 25);
btree = insert(btree, 0);
root = toJSON(btree);
update(root);
			// $scope.insert = function (valor) {
			// 	btree = insert(btree, Number(valor));
			// 	root = toJSON(btree);
			// 	console.log(root);
			// 	update(root);
			// }

			$scope.remove = function (valor) {
				btree = remove(btree, Number(valor));
				root = toJSON(btree);
				update(root)
			}

			$scope.search = function (valor) {
				NKEYS = valor;
			}

		});
	</script>
	<script src="visu-btree.js"></script>
</body>

</html>